body {
font-family: Arial, sans-serif;
background-color: #f2f2f2;
margin: 0;
padding: 0;
}

.header {
background-color: #0a3d62;
padding: 20px 0;
text-align: center;
color: white;
}

.logo {
width: 160px;
height: 160px;
object-fit: cover;
border-radius: 20px;
}

.titulo-header {
margin-top: 10px;
font-size: 26px;
}


.container {
max-width: 600px;
margin: 30px auto;
background: white;
padding: 20px;
border-radius: 8px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


h1 {
text-align: center;
margin-bottom: 10px;
}


.form-section {
display: flex;
flex-direction: column;
gap: 10px;
margin-bottom: 20px;
}


.form-section label {
font-weight: bold;
}


.form-section input {
padding: 8px;
border: 1px solid #ccc;
border-radius: 4px;
}


button {
padding: 10px;
background-color: #007bff;
color: white;
border: none;
border-radius: 4px;
cursor: pointer;
font-size: 16px;
}


button:hover {
background-color: #0056b3;
}


.result-section {
background: #fafafa;
padding: 15px;
border-radius: 4px;
border: 1px solid #ddd;
}


.error {
color: red;
font-weight: bold;
}